@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
.movie-info .movieDescription .categories .movieDetails, .homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info, .homepage .main-contents .filter-bar, .homepage .navbar .menu-bar .menu-contents .search-bar .search-btn, .homepage .navbar .menu-bar .menu-contents .navbar-nav .nav-item .nav-link, .contact-us .footer .bottom-footer .app-download, .new-activity .footer .bottom-footer .app-download, .promotion .footer .bottom-footer .app-download, .cinema .footer .bottom-footer .app-download, .movie-info .footer .bottom-footer .app-download, .homepage .footer .bottom-footer .app-download, .contact-us .footer .bottom-footer, .new-activity .footer .bottom-footer, .promotion .footer .bottom-footer, .cinema .footer .bottom-footer, .movie-info .footer .bottom-footer, .homepage .footer .bottom-footer, .contact-us .footer .footer-contents .contact .social-media, .new-activity .footer .footer-contents .contact .social-media, .promotion .footer .footer-contents .contact .social-media, .cinema .footer .footer-contents .contact .social-media, .movie-info .footer .footer-contents .contact .social-media, .homepage .footer .footer-contents .contact .social-media {
  display: flex;
  align-items: center;
}

.contact-us .footer, .new-activity .footer, .promotion .footer, .cinema .footer, .movie-info .footer, .homepage .footer {
  background-color: black;
  padding: 40px 80px;
  color: white;
}
.contact-us .footer .footer-contents, .new-activity .footer .footer-contents, .promotion .footer .footer-contents, .cinema .footer .footer-contents, .movie-info .footer .footer-contents, .homepage .footer .footer-contents {
  display: flex;
  justify-content: space-around;
}
.contact-us .footer .footer-contents .menu-footer, .new-activity .footer .footer-contents .menu-footer, .promotion .footer .footer-contents .menu-footer, .cinema .footer .footer-contents .menu-footer, .movie-info .footer .footer-contents .menu-footer, .homepage .footer .footer-contents .menu-footer {
  display: flex;
  gap: 40px;
}
.contact-us .footer .footer-contents .menu-footer .menu-col p, .new-activity .footer .footer-contents .menu-footer .menu-col p, .promotion .footer .footer-contents .menu-footer .menu-col p, .cinema .footer .footer-contents .menu-footer .menu-col p, .movie-info .footer .footer-contents .menu-footer .menu-col p, .homepage .footer .footer-contents .menu-footer .menu-col p {
  font-weight: 600;
  border-bottom: 2px solid #FF3D00;
}
.contact-us .footer .footer-contents .menu-footer .menu-col ul, .new-activity .footer .footer-contents .menu-footer .menu-col ul, .promotion .footer .footer-contents .menu-footer .menu-col ul, .cinema .footer .footer-contents .menu-footer .menu-col ul, .movie-info .footer .footer-contents .menu-footer .menu-col ul, .homepage .footer .footer-contents .menu-footer .menu-col ul {
  position: relative;
  padding-left: 0;
  font-family: "Abel", sans-serif;
}
.contact-us .footer .footer-contents .menu-footer .menu-col ul li, .new-activity .footer .footer-contents .menu-footer .menu-col ul li, .promotion .footer .footer-contents .menu-footer .menu-col ul li, .cinema .footer .footer-contents .menu-footer .menu-col ul li, .movie-info .footer .footer-contents .menu-footer .menu-col ul li, .homepage .footer .footer-contents .menu-footer .menu-col ul li {
  list-style-type: none;
}
.contact-us .footer .footer-contents .menu-footer .menu-col ul li a, .new-activity .footer .footer-contents .menu-footer .menu-col ul li a, .promotion .footer .footer-contents .menu-footer .menu-col ul li a, .cinema .footer .footer-contents .menu-footer .menu-col ul li a, .movie-info .footer .footer-contents .menu-footer .menu-col ul li a, .homepage .footer .footer-contents .menu-footer .menu-col ul li a {
  text-decoration: none;
  color: white;
}
.contact-us .footer .footer-contents .menu-footer .menu-col ul li a:hover, .new-activity .footer .footer-contents .menu-footer .menu-col ul li a:hover, .promotion .footer .footer-contents .menu-footer .menu-col ul li a:hover, .cinema .footer .footer-contents .menu-footer .menu-col ul li a:hover, .movie-info .footer .footer-contents .menu-footer .menu-col ul li a:hover, .homepage .footer .footer-contents .menu-footer .menu-col ul li a:hover {
  text-decoration: underline;
}
.contact-us .footer .footer-contents .contact h5, .new-activity .footer .footer-contents .contact h5, .promotion .footer .footer-contents .contact h5, .cinema .footer .footer-contents .contact h5, .movie-info .footer .footer-contents .contact h5, .homepage .footer .footer-contents .contact h5 {
  font-weight: 600;
}
.contact-us .footer .footer-contents .contact p, .new-activity .footer .footer-contents .contact p, .promotion .footer .footer-contents .contact p, .cinema .footer .footer-contents .contact p, .movie-info .footer .footer-contents .contact p, .homepage .footer .footer-contents .contact p {
  font-family: "Abel", sans-serif;
}
.contact-us .footer .footer-contents .contact .social-media, .new-activity .footer .footer-contents .contact .social-media, .promotion .footer .footer-contents .contact .social-media, .cinema .footer .footer-contents .contact .social-media, .movie-info .footer .footer-contents .contact .social-media, .homepage .footer .footer-contents .contact .social-media {
  gap: 10px;
}
.contact-us .footer .footer-contents .contact .social-media a, .new-activity .footer .footer-contents .contact .social-media a, .promotion .footer .footer-contents .contact .social-media a, .cinema .footer .footer-contents .contact .social-media a, .movie-info .footer .footer-contents .contact .social-media a, .homepage .footer .footer-contents .contact .social-media a {
  text-decoration: none;
}
.contact-us .footer .footer-contents .contact .social-media a img, .new-activity .footer .footer-contents .contact .social-media a img, .promotion .footer .footer-contents .contact .social-media a img, .cinema .footer .footer-contents .contact .social-media a img, .movie-info .footer .footer-contents .contact .social-media a img, .homepage .footer .footer-contents .contact .social-media a img {
  width: 30px;
}
.contact-us .footer .bottom-footer, .new-activity .footer .bottom-footer, .promotion .footer .bottom-footer, .cinema .footer .bottom-footer, .movie-info .footer .bottom-footer, .homepage .footer .bottom-footer {
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.contact-us .footer .bottom-footer .app-download, .new-activity .footer .bottom-footer .app-download, .promotion .footer .bottom-footer .app-download, .cinema .footer .bottom-footer .app-download, .movie-info .footer .bottom-footer .app-download, .homepage .footer .bottom-footer .app-download {
  margin-top: 30px;
  gap: 10px;
}
.contact-us .footer .bottom-footer .app-download .store img, .new-activity .footer .bottom-footer .app-download .store img, .promotion .footer .bottom-footer .app-download .store img, .cinema .footer .bottom-footer .app-download .store img, .movie-info .footer .bottom-footer .app-download .store img, .homepage .footer .bottom-footer .app-download .store img {
  width: 120px;
}
.contact-us .footer .bottom-footer .copyright p, .new-activity .footer .bottom-footer .copyright p, .promotion .footer .bottom-footer .copyright p, .cinema .footer .bottom-footer .copyright p, .movie-info .footer .bottom-footer .copyright p, .homepage .footer .bottom-footer .copyright p {
  text-align: center;
  font-family: "Anek Devanagari", sans-serif;
  font-size: 12px;
}

* {
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar {
  width: 10px;
}
* ::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
  background-color: #FF3D00;
}
* ::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  background-color: #242333;
}

.homepage .navbar {
  height: fit-content;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.homepage .navbar .menu-bar {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
}
.homepage .navbar .menu-bar .logo-link {
  margin-right: 30px;
}
.homepage .navbar .menu-bar .logo-link img {
  height: 50px;
}
.homepage .navbar .menu-bar .menu-contents {
  font-family: "Poppins", sans-serif;
}
.homepage .navbar .menu-bar .menu-contents .navbar-nav .nav-item .nav-link {
  color: white;
  gap: 5px;
}
.homepage .navbar .menu-bar .menu-contents .navbar-nav .nav-item .nav-link.active {
  background-color: white;
  color: #FF3D00;
  font-weight: 600;
}
.homepage .navbar .menu-bar .menu-contents .navbar-nav .nav-item .nav-link .iconify {
  font-size: 20px;
}
.homepage .navbar .menu-bar .menu-contents .navbar-nav .nav-item .nav-link .iconify:nth-child(1) {
  font-size: 16px;
}
.homepage .navbar .menu-bar .menu-contents .search-bar .search-input {
  font-family: "PT Sans", sans-serif;
  box-shadow: none;
  border: none;
  width: 150px;
  transition: all 0.4s ease;
}
.homepage .navbar .menu-bar .menu-contents .search-bar .search-input:focus {
  width: 230px;
}
.homepage .navbar .menu-bar .menu-contents .search-bar .search-btn {
  justify-content: center;
  background-color: #FF3D00;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 20px;
  margin-right: 10px;
}
.homepage .navbar .menu-bar .menu-contents .search-bar .search-btn:active {
  transform: scale(0.98);
}
.homepage .navbar .menu-bar .menu-contents .lang {
  font-family: "ubuntu";
}
.homepage .navbar .menu-bar .menu-contents .lang .btn-group .btn {
  background-color: none;
  box-shadow: none;
  color: white;
  font-size: 14px;
}
.homepage .navbar .menu-bar .menu-contents .lang .btn-group .btn .iconify {
  font-size: 22px;
}
.homepage .navbar .menu-bar .menu-contents .lang .btn-group .dropdown-menu {
  padding: 2px;
  font-size: 14px;
  min-width: fit-content;
}
.homepage .navbar .menu-bar .menu-contents .lang .btn-group .dropdown-menu li a {
  border-radius: 3px;
  transition: all 0.5s ease;
}
.homepage .navbar .menu-bar .menu-contents .lang .btn-group .dropdown-menu li a.active {
  background-color: #FF3D00;
}
.homepage .navbar .menu-bar .menu-contents .lang .btn-group .dropdown-menu li a:active {
  background-color: #FF3D00;
}
.homepage .slider-page {
  margin-top: 60px;
}
.homepage .slider-page .carousel-inner .carousel-item img {
  width: 100%;
}
.homepage .main-contents {
  color: white;
  padding: 30px 70px;
}
.homepage .main-contents .filter-bar {
  background-color: black;
  padding: 0px 20px;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
}
.homepage .main-contents .filter-bar .nav .nav-link {
  margin-bottom: -15px;
  color: rgba(255, 255, 255, 0.616);
  background: unset;
  border-radius: unset;
}
.homepage .main-contents .filter-bar .nav .nav-link.active {
  border-bottom: 2px solid #FF3D00;
  color: white;
}
.homepage .main-contents .filter-bar .nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.856);
}
.homepage .main-contents .movie-contents {
  margin-top: 30px;
  width: 100%;
}
.homepage .main-contents .movie-contents .row-movie {
  display: grid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto auto auto auto auto auto;
}
.homepage .main-contents .movie-contents .row-movie .col {
  cursor: pointer;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumbnail img {
  width: 172.9px;
  border-radius: 5px;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info {
  background-color: rgba(0, 0, 0, 0.7);
  width: 172.9px;
  height: 0px;
  padding: 20px 20px;
  border-radius: 5px;
  color: white;
  line-height: 12px;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin-top: -247px;
  opacity: 0;
  transition: all 0.2s ease;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info h6 {
  margin-bottom: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info p {
  font-size: 12px;
  display: flex;
  gap: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info article p .booking-btn {
  text-align: center;
  width: 100%;
  padding: 7px 15px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Merienda", cursive;
  opacity: 0;
  transition: all 0.5s ease;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info article p .booking-btn:hover {
  background-color: #fa1239;
}
.homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info article p:nth-child(2) .booking-btn {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
  margin-top: -10px;
}
.homepage .main-contents .movie-contents .row-movie .col:hover .movie-item .thumb-info {
  opacity: 1;
  height: 247px;
}
.homepage .main-contents .movie-contents .row-movie .col:hover .movie-item .thumb-info h6 {
  opacity: 1;
}
.homepage .main-contents .movie-contents .row-movie .col:hover .movie-item .thumb-info p {
  opacity: 1;
}
.homepage .main-contents .movie-contents .row-movie .col:hover .movie-item .thumb-info article p .booking-btn {
  opacity: 1;
}

.movie-info {
  font-family: Roboto;
}
.movie-info #trailer {
  width: 1200px;
  height: 700px;
  margin: auto;
  display: block;
}
.movie-info .iframe-container {
  padding-top: 70px;
}
.movie-info .line {
  border-top: solid 2px white;
  width: 1200px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.movie-info .movieDescription {
  background-color: black;
  width: 1200px;
  height: 400px;
  margin: auto;
  display: block;
  padding: 30px;
  color: white;
  height: auto;
  position: relative;
}
.movie-info .movieDescription .moviePoster {
  width: 200px;
  float: left;
  margin-right: 20px;
}
.movie-info .movieDescription .movieTitle {
  float: left;
}
.movie-info .movieDescription .bookNowBtn {
  float: right;
  background-color: #FF3D00;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 5px;
  width: 130px;
}
.movie-info .movieDescription .bookNowBtn a {
  text-decoration: none;
  color: white;
}
.movie-info .movieDescription .categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movie-info .movieDescription .categories .movieDetails {
  gap: 10px;
}
.movie-info .movieDescription .categories .more-info .info-row {
  display: flex;
  gap: 20px;
}
.movie-info .textDecor {
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 25px;
}
.movie-info .mayAlsoLike {
  background-color: black;
  width: 1200px;
  height: 450px;
  margin: auto;
  display: block;
  padding: 30px;
  color: white;
  position: relative;
  margin-bottom: 20px;
}
.movie-info .mayAlsoLike .recommend-movie {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.movie-info .mayAlsoLike .recommend-movie .otherPoster {
  width: 172.9px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

.movie-each-cinema {
  margin: 100px 150px;
  color: white;
}
.movie-each-cinema .date-selecting .nav .nav-link {
  color: white;
}
.movie-each-cinema .date-selecting .nav .nav-link.active {
  background: #FF3D00;
  font-weight: 600;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.836);
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .card {
  background: none;
  width: 70%;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .card .row .poster img {
  width: 150px;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .card .row .col-md-6 {
  margin-top: -15px;
  margin-left: -120px;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .card .row .col-md-6 .card-body .theatre {
  font-size: 17px;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .card .row .col-md-6 .card-body .card-text {
  font-size: 12px;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time {
  width: 30%;
  padding-left: 15px;
  border-left: 1px solid #FF3D00;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time button {
  background: none;
  color: #c5c4c4;
  border: 1px solid #c5c4c4;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  font-weight: 600;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time button:hover {
  background-color: #fa1239;
  border: 1px solid white;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time button.active {
  background: #FF3D00;
  color: white;
  border: 1px solid #FF3D00;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time button.active:active {
  transform: scale(1.05);
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time button.recommend {
  background: gray;
  color: white;
  font-weight: 600;
}
.movie-each-cinema .date-selecting .tab-content .tab-pane .movie-date .time button a {
  color: white;
  text-decoration: none;
}

:root {
  --selected-color: rgb(250, 18, 57);
  --available-color: #fff;
}

.book {
  padding-top: 30px;
}
.book .booking-form {
  margin-top: 70px;
  margin-left: 3%;
  margin-bottom: 30px;
  position: sticky;
  top: 100px;
  width: 32%;
  padding: 20px;
  border-right: 2px solid #FF3D00;
  background-color: black;
}
.book .booking-form .card {
  background: none;
  color: white;
}
.book .booking-form .card .head {
  display: flex;
  border-bottom: 1px solid white;
  gap: 15px;
  padding-bottom: 10px;
}
.book .booking-form .card .head .poster img {
  width: 120px;
}
.book .booking-form .card .body {
  padding-top: 15px;
}
.book .booking-form .card .body input {
  outline: none;
}
.book .booking-form .card .body .fl {
  float: left;
  width: 110px;
  line-height: 35px;
}
.book .booking-form .card .body .fontLabel {
  color: white;
}
.book .booking-form .card .body .clr {
  clear: both;
}
.book .booking-form .card .body .box {
  width: 360px;
  height: 35px;
  margin-top: 10px;
  font-family: verdana;
  font-size: 12px;
}
.book .booking-form .card .body .box button {
  float: right;
  border: none;
  color: white;
  width: 110px;
  height: 35px;
  background: #FF3D00;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 15px;
}
.book .booking-form .card .body .box button:nth-child(2) {
  background-color: white;
  color: #FF3D00;
}
.book .booking-form .card .body .textBox {
  height: 35px;
  width: 190px;
  border: none;
  padding-left: 20px;
}
.book .booking-form .card .body .new {
  float: left;
}
.book .booking-form .card .body .iconBox {
  height: 35px;
  width: 40px;
  line-height: 38px;
  text-align: center;
  background: #FF3D00;
}
.book .booking-form .card .body .iconBox .iconify {
  font-size: 20px;
}
.book .booking-form .card .body .radio {
  color: white;
  line-height: 38px;
}
.book .booking-form .card .body .terms {
  line-height: 35px;
  text-align: center;
  color: white;
}
.book .booking-page {
  margin-top: -600px;
  padding-top: 100px;
  margin-left: 37%;
  margin-right: 5%;
  font-family: "Lato", sans-serif;
  color: white;
  overflow: hidden;
  /* Selects the second row f*/
}
.book .booking-page .select-cinema .wrapper {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}
.book .booking-page .select-cinema .wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.book .booking-page .select-cinema .wrapper .option .iconify {
  margin-left: 20px;
  color: white;
  font-size: 26px;
}
.book .booking-page .select-cinema input[type=radio] {
  display: none;
}
.book .booking-page .select-cinema .cinema-option:checked:checked ~ .option {
  border-color: #FF3D00;
  background: #FF3D00;
}
.book .booking-page .select-cinema .cinema-option:checked:checked ~ .option .iconify {
  color: #2ecc71;
}
.book .booking-page .select-cinema .wrapper .option span {
  font-size: 14px;
  color: #808080;
}
.book .booking-page .select-cinema .cinema-option:checked:checked ~ .option span {
  color: #fff;
}
.book .booking-page .movie-container {
  margin: 20px 0;
}
.book .booking-page .movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.book .booking-page .container {
  perspective: 1000px;
  margin-bottom: 3px;
}
.book .booking-page .seat {
  background-color: #444451;
  height: 20px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid white;
}
.book .booking-page .seat input[type=checkbox] {
  display: none;
}
.book .booking-page .seat .iconify {
  font-size: 25px;
  margin-left: -12px;
  margin-top: -2px;
  display: none;
}
.book .booking-page .seat .iconify.occupied {
  display: block;
}
.book .booking-page .seat.selected {
  background-color: var(--selected-color);
}
.book .booking-page .seat.occupied {
  background-color: unset;
  border: none;
}
.book .booking-page .seat:nth-of-type(4n) {
  margin-right: 18px;
}
.book .booking-page .seat:not(.occupied) {
  cursor: pointer;
  transform: scale(1.2);
}
.book .booking-page .showcase .seat:not(.occupied) {
  cursor: default;
  transform: scale(1);
}
.book .booking-page .showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.book .booking-page .showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.book .booking-page .showcase li small {
  margin-left: 5px;
  color: white;
}
.book .booking-page .row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.book .booking-page .screen {
  background-color: #fff;
  border: 1px solid #FF3D00;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.book .booking-page p.text {
  text-align: center;
  margin: 5px 0;
}
.book .booking-page p.text span {
  color: #6feaf6;
}
.book .booking-page .to-payment {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.book .booking-page .to-payment button {
  color: white;
  background-color: #FF3D00;
}

.cinema {
  overflow-x: hidden;
}
.cinema .slider-cinema {
  margin-bottom: 30px;
}
.cinema .btn {
  background-color: #FF3D00;
  box-shadow: none;
  border: 2px solid white;
}
.cinema .btn:hover {
  transform: scale(1.03);
}
.cinema .btn a {
  color: white;
  text-decoration: none;
}
.cinema .image-slider {
  position: relative;
  background: url(../../images/seats.png);
  background-size: cover;
  height: 450px;
  overflow: hidden;
}
.cinema .image-slider .container {
  margin-top: 200px;
}
.cinema .image-slider .container h1 {
  color: white;
}
.cinema .image-slider .container p {
  color: white;
}
.cinema .container-cinema {
  margin-top: 40px;
  margin-left: 150px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cinema .container-cinema .cinema-card {
  color: white;
  width: 1100px;
  background-color: black;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.cinema .container-cinema .cinema-card .cinema-img img {
  width: 100px;
}

@media only screen and (max-width: 840px) {
  .container1 {
    margin: 50px 20px;
  }
  .container1 .row {
    font-size: 14px;
  }
  .container1 .row h3 {
    font-size: 16px;
  }
  .container1 .row .img img {
    width: 10px;
  }
}
@media only screen and (max-width: 536px) {
  .input {
    margin: 50px 20px;
  }
}
.body-paid {
  padding-top: 70px;
  background: #242333;
}

.card-ticket {
  background-color: #161520;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.card-ticket .site-header__title {
  margin-top: -100px;
  margin-bottom: -50px;
  font-size: 20px;
  color: white;
}
.card-ticket .main-content {
  margin-top: -50px;
  margin-bottom: -50px;
}
.card-ticket .main-content .card {
  background-color: #161520;
  color: white;
}
.card-ticket .main-content .poster-paid img {
  width: 179.2px;
  padding: 20px 20px 50px 20px;
}
.card-ticket .main-content .ticket .ticket-body h5, .card-ticket .main-content .ticket .ticket-body p {
  text-align: left;
}
.card-ticket .main-content .ticket .ticket-body .ticket-text .iconify {
  font-size: 25px;
  margin-right: 10px;
}
.card-ticket .main-content .ticket .ticket-body .ticket-text .seat {
  color: #FF3D00;
  font-weight: 600;
}
.card-ticket .main-content .ticket .paid {
  width: 150px;
  margin-top: -20px;
}
.card-ticket .site-footer p {
  color: white;
}

.gohome {
  margin-top: 100px;
}
.gohome .home-to {
  background-color: #FF3D00;
}
.gohome .home-to a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-us {
  margin-top: 120px;
}
.contact-us .contact-container {
  margin-bottom: 40px;
}

.login-box {
  width: 400px;
  padding: 40px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FF3D00;
  font-size: 12px;
}

.login-box form button {
  background: none;
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: #FF3D00;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #FF3D00;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #FF3D00, 0 0 25px #FF3D00, 0 0 50px #FF3D00, 0 0 100px #FF3D00;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF3D00);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF3D00);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FF3D00);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FF3D00);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.add-movie {
  margin-bottom: 100px;
}
.add-movie .container {
  max-width: 960px;
}
.add-movie h3 {
  font-size: 16px;
}
.add-movie h3 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}
.add-movie form label {
  font-weight: 600;
}
.add-movie form .form-check-label {
  font-weight: 300;
}
.add-movie form .avatar-upload {
  position: relative;
  max-width: 205px;
}
.add-movie form .avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.add-movie form .avatar-upload .avatar-edit input {
  display: none;
}
.add-movie form .avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  background: unset;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.add-movie form .avatar-upload .avatar-edit input + label:hover svg {
  width: 20px;
  padding: 3px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.add-movie form .avatar-upload .avatar-edit input + label:after {
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.add-movie form .avatar-upload .avatar-preview {
  width: 172.9px;
  height: 192px;
  position: relative;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.add-movie form .avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1400px) {
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media only screen and (max-width: 1320px) {
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media only screen and (max-width: 1130px) {
  .homepage .navbar .menu-bar .menu-contents .search-bar .search-input {
    width: 100px;
  }
  .homepage .navbar .menu-bar .menu-contents .search-bar .search-input:focus {
    width: 140px;
  }
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 936px) {
  .homepage .main-contents {
    padding: 25px 30px;
  }
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 830px) {
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 640px) {
  .homepage .main-contents {
    padding: 15px 15px;
  }
  .homepage .main-contents .filter-bar .dropdown .btn {
    font-size: 12px;
  }
  .homepage .main-contents .filter-bar .dropdown .btn .iconify {
    font-size: 16px;
  }
  .homepage .main-contents .filter-bar .dropdown .dropdown-menu .dropdown-item {
    font-size: 12px;
  }
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  .homepage .main-contents .movie-contents .row-movie .col .movie-item .thumbnail img {
    width: 170px;
  }
  .homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info {
    width: 170px;
  }
  .homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info h6 {
    font-size: 14px;
  }
  .homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info p {
    font-size: 12px;
  }
  .homepage .main-contents .movie-contents .row-movie .col .movie-item .thumb-info article p a.booking-btn {
    font-size: 12px;
    padding: 5px 8px;
  }
  .homepage .footer .footer-contents {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .homepage .footer .footer-contents .contact h5 {
    text-align: center;
  }
  .homepage .footer .footer-contents .contact p {
    text-align: center;
  }
  .homepage .footer .footer-contents .contact .social-media {
    gap: 10px;
    justify-content: center;
  }
  .homepage .footer .footer-contents .contact .social-media a img {
    width: 20px;
  }
}
@media only screen and (max-width: 536px) {
  .homepage .main-contents {
    padding: 10px 3px;
  }
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 372px) {
  .homepage .main-contents {
    padding: 10px 5px;
  }
  .homepage .main-contents .movie-contents .row-movie {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=style.css.map */
