.add-movie {
    margin-bottom: 100px;
    .container {
        max-width: 960px;
        // margin: 30px auto;
    }

    h3 {
        font-size: 16px;
        // margin: 20px 0 20px;
        small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }
    }
    form {
        label {
            font-weight: 600;
        }
        .form-check-label {
            font-weight: 300;
        }
        .avatar-upload {
            position: relative;
            max-width: 205px;
            .avatar-edit {
                position: absolute;
                right: 12px;
                z-index: 1;
                top: 10px;
                input {
                    display: none;
                    + label {
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        margin-bottom: 0;
                        background: unset;
                        border: 1px solid transparent;
                        // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        cursor: pointer;
                        font-weight: normal;
                        transition: all .2s ease-in-out;
                        &:hover {
                            svg {
                                width: 20px;
                                padding: 3px;
                                background-color: white;
                                border: 1px solid white;
                                border-radius: 5px;
                            }
                        }
                        &:after {
                            // content: "\f040";
                            font-family: 'FontAwesome';
                            color: #757575;
                            position: absolute;
                            top: 10px;
                            left: 0;
                            right: 0;
                            text-align: center;
                            margin: auto;
                        }
                    }
                }
            }
            .avatar-preview {
                width: 172.9px;
                height: 192px;
                position: relative;
                border: 6px solid #F8F8F8;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
                > div {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }


}