.cinema {
    overflow-x: hidden;
    .slider-cinema{
        margin-bottom: 30px;
      
    }
    .btn{
        
        background-color: $orange;
        box-shadow: none;
        border: 2px solid white;

        &:hover {
            transform: scale(1.03);
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
    
    .image-slider{
        position: relative;
        background: url(../../images/seats.png);
        background-size: cover;
        height: 450px;
        overflow: hidden;

        .container {
            margin-top: 200px;

            h1 {
                color: white;
            }
            p {
                color: white;
            }
        }
    }
   
    .container-cinema {
        margin-top: 40px;
        margin-left: 150px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cinema-card {
            color: white;
            width: 1100px;
            background-color: black;
            padding: 10px;
            display: flex;
            gap: 20px;
            .cinema-img {
                img {
                    width: 100px;
                }
            }
        }
    }
    @extend %footer;
  
}

@media only screen and (max-width: 840px) {
    .container1 {
        margin: 50px 20px;
        .row{
           font-size: 14px;
           h3{
               font-size: 16px;
           }
           .img{
               img {
                   width: 10px;
               }
            
           }
        }
    }
     
}
@media only screen and (max-width:536px){
    .input{
        margin: 50px 20px;
    }

}
    